<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677182716199-ht9oe4tmio434bj5t33dpedgptrr1jmk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677182716199-ht9oe4tmio434bj5t33dpedgptrr1jmk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>677182716199-2vvisk63eur14vbdf6h15b5c2omgrebk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOuzNEMMudm29Aw8ZUNAhsAlVqh4n-v5I</string>
	<key>GCM_SENDER_ID</key>
	<string>677182716199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kimmartmember.app</string>
	<key>PROJECT_ID</key>
	<string>kimmart-cdf07</string>
	<key>STORAGE_BUCKET</key>
	<string>kimmart-cdf07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677182716199:ios:eb444cdae440499e49d102</string>
</dict>
</plist>